.card  {
    width: 26.3rem;
}

.auth-div {
    margin: auto;
    margin-top: 5rem;
    width: 30%;
}

.auth-title {
    text-align: center;
}

.auth-link {
    padding: 1rem;
    text-align: center;
}

.submit-button {
    padding: 1rem;
    text-align: center;
}

.product-div {
    padding: 10px;
}

.body-container {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.search-div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.search-div-up {
    background-color: green;
    align-items: center;
}

.filter-button {
    margin-right: 0.5rem;
}

.pagination-2 {
    padding: 1rem;
    width: 13rem;
    margin: auto;
}